@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a new Engineer</h4>

@using (Html.BeginForm())
{
  @Html.Label("EngineerName", "Engineer Name")
  @Html.TextBoxFor(model => model.EngineerName)

  <input type="submit" value="add new Engineer" class="btn btn-default" />
}

<p>@Html.ActionLink("Show all Engineer", "Index")</p>